@model IEnumerable<Bookkeeping.Models.ViewModels.TransactionRecord>

@{
    Layout = null;
}


<table class="table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>
    @{ var index = 1;}
    @foreach (var item in Model)
    {
    <tr>
        <td>@(index)</td>
        <th>
            @Html.DisplayFor(modelItem => item.Type)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>

    </tr>
        index++;
    }

</table>
